streamlit
pandas
imbalanced-learn
scikit-learn
scipy
streamlit-option-menu
matplotlib
numpy
plotly
openpyxl
nltk
spacy
joblib==1.2.0
seaborn
streamlit
streamlit-option-menu
pandas
numpy
scikit-learn
imbalanced-learn
gensim
nltk
matplotlib
seaborn
plotly
